@import './keyvisual.modules.scss';
@import './header.modules.scss';
@import './footer.modules.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}


